<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Page Example</title>
    <link rel="stylesheet" href="/assets/pico.min.css">
    <style>
        .album-cover {
            width: 100%;
            max-width: 300px;
            margin: auto;
        }
        .tracklist {
            margin-top: 2rem;
        }
        .track {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 0;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <header class="container">
        <h1>{{ album.title }} </h1>
        <p>{{ album.artist.name }}</p>
    </header>

    <main class="container">
        <article>
            <div class="grid">
                <div>
                    <img src="album-cover.jpg" alt="Album Cover" class="album-cover">
                </div>
                <div>
		  <h2>Album Description</h2>
                  {{ album.description|safe }}
                </div>
            </div>

            <section class="tracklist">
                <h2>Tracklist</h2>
                  {% for song in songs %}
		<div class="track">
		  {% for fmt, sf in song.songfiles.items() %}
		  <span><a href="{{ url_for('archive.static', 
                      filename=sf.relative_path) }}">
		      {{ song.tracknum }}. {{ song.title }}  {{ fmt }}
		  </a></span>
		  {% endfor %}
		  <span>{{ song.duration }}</span>
		</div>
  {%- endfor %}
            </section>
        </article>
    </main>
    <footer class="container">
        <p>&copy; 2024 Music Company</p>
    </footer>
</body>
</html>
