{% extends "base.html" %}

{% block title %}{{ artist.name }}{% endblock %}
{% block main %}
  <h2>{{ artist.name }}</h2>
  {{ artist.description|safe }}
  <ul>
  {% for album in artist.albums.values() %}
  <li><a href="{{ url_for('album_view', artist_slug=artist.slug, album_slug=album.slug) }}">
      {{ album.title }}
  </a></li>
  </ul>
  {%- endfor %}
{% endblock %}
