<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/simple.min.css">
    <title>{% block title %}{%- endblock -%}
      {% if self.title() %}- {% endif %}Freeloadio
    </title>
  </head>
  <body>
    <header>
      {% if self.title()|trim %}
      <h1>{{ self.title()|trim }}</h1>
      {% else %}
      <h1>Freeloadio</h1>
      {% endif %}
      <nav>
	<a href="{{ url_for('artist_list') }}">By Artist</a>
        <a href="/albums">By Album</a>
      </nav>
      
  </header>
  <main>     
    {% block main %}{% endblock %}
  </main>

  <footer>
    <p></p>
  </footer>
</body>
</html>
