{% extends "base.html" %}

{% block title %}Freeloadio{% endblock %}
{% block main %}
  <h2>Artists</h2>
  <ul>
    {% for artist in artists %}
    <li><a href="{{ url_for('artist_view', artist_slug=artist.slug) }}">
	   {{ artist.name }}</a></li>
    {%- endfor %}
  </ul>
{% endblock %}
